In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime as datetime

In [2]:
sns.set(rc={"figure.figsize" : (12,8)})

In [3]:
import glob
import tempfile
import sys
import os

sys.path.append('..')

import geotopy as gt

Welcome to GEOtoPy
GEOtop executable found at /home/max/Documenti/GitHub/geotop/builddir/geotop

In [4]:
with tempfile.TemporaryDirectory() as tmpdir:
    model = gt.GEOtop("../tests/Matsch_B2_Ref_007", dest=tmpdir, 
                      replace={'output_folder' : 'output', 'root_depth' : "150"})
    
    print(f"Running GEOtop...")
    model.run(check=True, capture_output=True)
    
    print("Saving dataframes...")
    glob_path = os.path.join(tmpdir, "output/*.txt")
    for file_path in glob.iglob(glob_path):
        df = pd.read_csv(file_path, na_values=['-9999'])
        basename = os.path.basename(file_path)
        basename = basename.split(".")[0]
        df.to_hdf("data/df.h5", key=basename)

Running GEOtop...

CalledProcessError: Command '['/home/max/Documenti/GitHub/geotop/builddir/geotop', '/tmp/tmp52or9lal']' returned non-zero exit status 1.

In [10]:
df = pd.read_hdf("data/df.h5", "thetaliq0001")
df

,Date12[DDMMYYYYhhmm],JulianDayFromYear0[days],TimeFromStart[days],Simulation_Period,Run,IDpoint,10.000000,43.071341,119.371359,295.405732,701.540636,1638.548319,3800.350690,8787.918641,20294.906702
0,02/10/2009 00:00,734048.000000,0.000000,0,1,1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,02/10/2009 01:00,734048.041667,0.041667,1,1,1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,02/10/2009 02:00,734048.083333,0.083333,1,1,1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
3,02/10/2009 03:00,734048.125000,0.125000,1,1,1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,02/10/2009 04:00,734048.166667,0.166667,1,1,1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54763,31/12/2015 19:00,736329.791667,2281.791667,1,1,1,0.000103,0.000781,0.006872,0.000394,0.0,0.0,0.0,0.0,0.0
54764,31/12/2015 20:00,736329.833333,2281.833333,1,1,1,0.001326,0.002570,0.006557,0.000405,0.0,0.0,0.0,0.0,0.0
54765,31/12/2015 21:00,736329.875000,2281.875000,1,1,1,0.002428,0.004240,0.006297,0.000415,0.0,0.0,0.0,0.0,0.0
54766,31/12/2015 22:00,736329.916667,2281.916667,1,1,1,0.003395,0.005774,0.006092,0.000423,0.0,0.0,0.0,0.0,0.0
54767,31/12/2015 23:00,736329.958333,2281.958333,1,1,1,0.004252,0.007164,0.005942,0.000430,0.0,0.0,0.0,0.0,0.0